body {
	font-family:"FranklinGothicDemiRegular";
	overflow:hidden;
}

table {
	border:none;
	border-collapse:collapse;
}

a {
	color: inherit;
	text-decoration:none;
}

#score-box {
position:relative;
margin: -40px auto auto;
text-align: center;
transform: perspective(630px) rotateX(28deg);
-webkit-transform: perspective(630px) rotateX(28deg);
width: 700px;
}

#score-box table {
	margin: 11px auto;
	font-size: 20px;
	width:100%;
}

#table_score th {
color: #FCDF2B;
font-family: FranklinGothicBookRegular;
font-size: 25px;
margin: 0 0 20px;
padding: 20px 0;
width: 150px;
}

#table_score tr {
	color:rgb(252,223,43);
}


#table_score tr:nth-child(2n) {
}

#table_score tr:hover {
	color: #fff;
}

#table_score th {
	border:none;
}

#table_score td {
	padding: 10px;
	border:none;
	border-top:1px solid;
	white-space:nowrap;
}

#previous {
	float: left;
}

#next {
	float: right;
}

.pagination {
	border:1px solid;

	padding: 6px 10px;
	margin: 10px 0 25px 0;
	margin-top: 20px;
	width: 100px;

	color:rgb(252,223,43);
	font-family: "FranklinGothicMediumCondRegul";
	font-size:20px;

	cursor:pointer;
}

.pagination:hover {
	background-color:rgb(252,223,43);
	color:black;
}

#refresh-box {
	position:absolute;
	bottom:-57px;
	left:335px;
	cursor:pointer;
}

#refresh-box svg {
	width:30px;height:30px;
	fill:#FCDF2B;

    animation-name: airplaneMoving;
    animation-duration: 13s;
    animation-iteration-count:infinite;
    animation-direction:reverse;
    animation-timing-function: linear;
}

@keyframes airplaneMoving{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}